
.action {
    padding: 5px 10px;
    display: block;
    border-radius: 2px;
    font-family: proxima-nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #bdc3c7;
    margin-bottom: 2px;
}

.actionableBtn {
    color: #2c3e50;
    background-color: white;
}

.actionableBtn:hover {
    background-color: #ecf0f1;
    color: #2980b9;
    cursor: pointer;
}

.recordingBtn {
    padding: 15px 15px 9px 10px;
    font-size: 130%;
    background-color: #3498db;
}

.recordingBtn:hover {
    background-color: #34495e;
    color: #ecf0f1;
}

.recordingBtn:hover > .fa {
    color: #e74c3c;
}

.recordingTabBtn {
    margin-left: 27px;
    min-width: 0;
    padding-left: 7px;
    display: inline-block;
    color: #2980b9;
}

.action > i.fa {
    display: inline-block;
    width: 20px;
    text-align: right;
}

.recordingBtn.liveBtn {
    background-color: #2c3e50;
    color: white;
    font-weight: bold;
}

.recordingBtn.liveBtn > i.fa {
    color: #c0392b;
    animation: blink 1s step-start 0s infinite;
    -webkit-animation: blink 1s step-start 0s infinite;
}

a:hover > .fa-bug {
    color: #e67e22;
}

a:hover > .fa-share {
    color: #27ae60;
}

a:hover > .fa-square {
    color: #e74c3c;
}

.splitter {
    background-color: lightgray;
    height: 1px;
    margin: 1px 0;
}

.notImplemented {
    color: #bdc3c7;
    text-decoration: line-through;
}

@keyframes blink {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.toggleBtn {
    margin: 10px 0 5px;
    display: inline-block;
    padding: 3px 8px;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 4px;
    color: #333;
    background: #fff none;
    border: 1px solid #ccc;
}

.toggleBtn.toggled {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.logInLabel {
    font-size: 11pt;
}

.logInLabel > .iconLeft {
    font-size: 2.5em;
    float: left;
    margin: auto 10px;
}
