<!DOCTYPE html>
<html ng-app="kuollPopupApp" ng-csp>
<head>
    <title>Kuoll Actions Menu</title>

    <script src="config.js"></script>
    <link href="vendors/font-awesome.min.css" rel="stylesheet">
    <link href="popup.css" rel="stylesheet">
    <style>
        body, html {
            margin: 0;
            padding: 0;
            color: #2c3e50;
        }

        body {
            width: 230px;
        }
    </style>
</head>
<body ng-controller="KuollExtensionPopupCtrl">

<div ng-if="!userLogged">
    <span class="logInLabel">
        <i class="fa fa-sign-in iconLeft"></i>
        You must login at Kuoll site to start recording
    </span>
</div>

<div ng-if="userLogged">
    <div ng-if="!recording.active" class="row" title="Start recording test session">
        <div class="action recordingBtn actionableBtn" ng-click="startRecord()">
            <a id="startRecord">
                <i class="fa fa-circle"></i>
                <span>Start recording</span>
            </a>
            <!--<input type="button" class="toggleBtn" ng-class="{toggled: recording.autonomousMode}"-->
            <!--value="Autonomous mode {{recording.autonomousMode ? 'on' : 'off'}}"-->
            <!--title="Autonomous mode makes recording faster but record will use resources (images, styles, etc.) from recorded site so record depends on this site"-->
            <!--ng-click="toggleAutonomousMode($event)"/>-->
        </div>
    </div>
    <div ng-if="recording.active" class="row" title="Recording is live now">
        <div class="action recordingBtn liveBtn" id="recordingLive">
            <i class="fa fa-circle"></i> <span>RECORDING</span>

            <div>
                <a ng-if="recording.active && !recordingThisTab" class="action actionableBtn recordingTabBtn"
                   ng-click="showRecordingTab()">
                    <span title="Recording this tab">show tab</span>
                </a>
                <a ng-if="recording.active && recordingThisTab" class="action recordingTabBtn">
                    <span title="Recording this tab">this tab</span>
                </a>
            </div>
        </div>
    </div>

    <div ng-if="!recording.active">
        <div class="row" title="Switch to tab under testing">
            <a class="action ">
                <i class="fa  fa-dot-circle-o"></i> Not recording tab
            </a>
        </div>
    </div>

    <div class="row" title="Get record URL">
        <a ng-class="recording.recordCode ? 'actionableBtn' : ''" class="action"
           id="bugLinkAction" ng-click="getRecordingLink()">
            <i class="fa fa-bug"></i> {{recording.active ? 'Open Kuoll record' : 'Open last Kuoll record'}} <span
                ng-if="recordingLinkCopied"> (copied)</span>
        </a>
    </div>

    <div class="row" title="Share record URL">
        <a ng-class="{actionableBtn: recording.active}" class="action " id="shareBugRecordLinkAction">
            <i class="fa fa-share"></i> Share recording link
        </a>
    </div>


    <div class="splitter"></div>

    <div class="row" title="Stop Recording">
        <a ng-class="{actionableBtn: recording.active}" class="action " id="stopRecording" ng-click="finishRecord()">
            <i class="fa fa-square"></i> <span>Stop recording</span>
        </a>
    </div>

    <div class="row" title="List my records">
        <a class="action actionableBtn" id="listRecords" ng-click="openRecordsList()">
            <i class="fa fa-list"></i> List records
        </a>
    </div>

<textarea style="display: none; width: 1px; height: 1px; font-size: 1px;" id="copyToClipboardTextarea">

</textarea>
</div>

<script src="vendors/jquery/jquery.js"></script>
<script src="vendors/angular.js"></script>
<script src="config.js"></script>
<script src="reportError.js"></script>
<script src="network.js"></script>
<script src="recording.js"></script>
<script src="popup.js"></script>

</body>
</html>