<div style="margin-bottom: 20px; margin-top: 16px;">

    <div id="kuollRecordStateStart" class="kuollRecordState">
        <h1 >Found an error?</h1>

        <p>Please, click start recording, reproduce an error and we will fix it much faster.
            <a href="https://www.kuoll.com/betterBugFixing.html" target="_blank">Why</a>?</p>
        <button class="button " id="kuollBtnStartRecord" style="margin-right: 20px;"><span class="primary small">Start recording</span>
        </button>
    </div>
    <div id="kuollRecordStateStarting" class="kuollRecordState">
        <h1 >Starting...</h1>

    </div>
    <div id="kuollRecordStateStarted" class="kuollRecordState">
        <h1>Record started</h1>

        <p style="padding-top: 4px;">
            <img src ='https://www.kuoll.com/resources/img/cat.png' style="float: left; max-width: 48px; margin: -5px 6px 4px 0;">
            Please, reproduce error now. Then return to this page and finish record.</p>
    </div>
    <div id="kuollRecordStateFinish" class="kuollRecordState">
        <h1 >Finish record</h1>

        <p>Recording has been started. Please, reproduce the error now. After this you can finish your record here. </p>
        <button class="button" id="kuollBtnFinishRecord"><span class="primary small">Finish recording</span></button>
    </div>
    <div id="kuollRecordStateFinishing" class="kuollRecordState">
        <h1 >Finishing...</h1>
    </div>
    <div id="kuollRecordStateFinished" class="kuollRecordState">
        <h1 >Record is complete</h1>
        <p>Thank you for your help!</p>
    </div>
</div>