<div id="startRecordBtn" class="hvr-icon-buzz-out kuollPopupBtn" title="Start Kuoll record">
    <img src="https://www.kuoll.com/resources/img/cat.png" style="max-width: 48px;">
</div>

<div id="showPopupBtn" class="hvr-icon-buzz-out kuollPopupBtn" title="Kuoll record is ON">
    <img src="https://www.kuoll.com/resources/img/cat-play.png" style="max-width: 48px;">
</div>


<div class="kuollRows" id="popupMenu" style="display: none">
    <div>
        <a class="kuollRow activeRow hvr-bounce-in submitRecordRow" id="submitRecordLink"
           title="Finish and send the record" >
            <span style="width: 16px; display: inline-block;"><i class="fa fa-check submitRecord"></i></span>
            Send the record
        </a>
    </div>
    <div>
        <a class="kuollRow activeRow" target="_blank" id="openRecordLink"
           title="Review current record" >
            <span style="width: 16px; display: inline-block;"><i class="fa fa-play openRecord"></i></span>
            Play the record
        </a>
    </div>
    <div>
        <a class="kuollRow activeRow" target="_blank" id="recordListLink" >
            <span style="width: 16px; display: inline-block;"><i class="fa fa-list listRecords"></i></span>
            List my records
        </a>
    </div>
    <div>
        <a class="kuollRow activeRow"  target="_blank" id="helpLink">
            <span style="width: 16px; display: inline-block;"><i class="fa fa-question-circle help"></i></span>
            Help
        </a>
    </div>
    <div>
        <a class="kuollRow activeRow" id="restartLink" >
            <span style="width: 16px; display: inline-block;"><i class="fa fa-refresh restartRecord"></i></span>
            Restart record
        </a>
    </div>
    <div>
        <a class="kuollRow activeRow" id="cancelRecordLink" 
           title="Delete the record forever">
            <span style="width: 16px; display: inline-block;"><i class="fa fa-square cancelRecord"></i></span>
            Cancel record
        </a>
    </div>
</div>